header{
	background: #ffffff;
	width:100%;
	position:absolute;
	height: auto;
}
#head{
	width: 100%;
}
#head #nombre{
	float: left;
	width: 30%;
}
#head #colegio{
	float: left;
	width: 70%;
	margin:auto;
	background-color: #002b7f !important;

}
/*****************************Barra de navegacion***********************************/
nav{
	width: 100%;
	margin: auto;
	border-style: solid;
	border-width: 2px;
	border-color: white;

}
.navbar-ligth{
	background-color: #002b7f !important;
}
.bg-light{
	background-color: #002b7f !important;

}
.navbar-brand{
	color: white !important;
}
.container{
	width: 90%;
	margin: auto;
	/*background-color: red;
	*/
}
@media screen and (max-width: 599px) {
	header{
		width: 100%;
		background-color: white;
	}
	#head{
		width:100%; 
	}

	#head #nombre{
		float: left;
		width: 100%;
	}
	#head #colegio{
		float: left;
		width: 100%;
		margin:auto;
		background: red;
	}

}